body {
  font-family: var(--font-family-base);

  font-size: 16px;
  font-weight: 300;

  line-height: 1.75;

  color: var(--gray-400);
  background-color: var(--gray-900);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;

  color: var(--color-light);

  text-transform: uppercase;
}

svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

svg * {
  transition-property: fill, stroke;
}

a {
  color: var(--white);
}

a:hover {
  color: var(--gray-400);
}
