.button {
  display: inline-flex;
  align-items: center;

  height: 36px;

  padding-inline: 26px;

  font-size: 12px;
  font-weight: 700;

  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  background-color: var(--white);
  border: none;

  border-radius: var(--border-radius-3);
}

.button:hover {
  background-color: var(--gray-400);
}
