.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 90px;

  column-gap: 20px;

  padding-inline: 32px;

  background-color: var(--gray-900);

  &__actions {
    display: flex;
    align-items: center;

    column-gap: 40px;
  }
}
