/* ==============================================================
   START: TYPOGRAPHY – CUSTOM FONTS
   ============================================================== */

@font-face {
  font-family: "Heebo";
  src: url("./shared/assets/fonts/Heebo/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./shared/assets/fonts/Heebo/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./shared/assets/fonts/Yantramanav/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ==============================================================
   END: TYPOGRAPHY – CUSTOM FONTS
   ============================================================== */

/* ==============================================================
   START: CSS RESET & BASE STYLES
   ============================================================== */

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;

  height: auto;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;

  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;

  min-height: 100%;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
}

:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;

    scroll-behavior: auto !important;

    transition-duration: 0.01ms !important;
  }
}

/* ==============================================================
   END: CSS RESET & BASE STYLES
   ============================================================== */

/* ==============================================================
   START: ROOT VARIABLES
   ============================================================== */
:root {
  --black: #000000;
  --white: #ffffff;

  --gray-900: #131619;
  --gray-800: #404040;
  --gray-400: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

/* ==============================================================
   END: ROOT VARIABLES
   ============================================================== */

/* ==============================================================
   START: BASE STYLES / GLOBAL BODY
   ============================================================== */

body {
  font-family: var(--font-family-base);

  font-size: 16px;
  font-weight: 300;

  line-height: 1.75;

  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

/* ==============================================================
   END: BASE STYLES / GLOBAL BODY
   ============================================================== */
